#scroll {
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  display: block;
}

.canvas {
  background-color: #eee;
  position: relative;
}

div.renderer {
  display: block;
  width: 100%;
  cursor: pointer;
  position: absolute;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}

div.renderer span {
  margin-left: 10px;
}

div.renderer.selected {
   background-color: #ccc;
 }

div.renderer:hover {
   background-color: #666;
   color: white;
 }
